/************** Top image **************/
.header-image {
    width: 100%;
    display: block;
    justify-content: center;  
  }
  
  /************** Home backgrounds **************/
  
  #homebgimage {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;
  }
  
  #homebgimage img {
    width: 100%;
    height: auto;
    opacity: 0.1;
  }
  
  #homeContent {
    position: relative;
    z-index: 1;
    padding: 20px;
    font-family: "Arial";
  }
  
  #APIcontent {
    font-family: "Arial";
  }
  
  #aboutContent {
    font-family: "Arial";
  }
  
  
  /************** NAVIGATION BAR **************/
  .navigation {
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: rgb(138, 19, 19);
    padding: 20px;
    display: flex;
    justify-content: left;
  }
  
  .navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 32px;
    font-family: "Arial";
    font-weight: bold;
  }
  
  .navigation ul li {
    display: inline;
    margin-right: 20px;
  }
  
  .navigation ul li a {
    color: #ffffff;
    text-decoration: none;
  }
  
  /************** API TEXT output **************/
  #APIcontent ul {
    margin: 20px;
    font-size: 25px;
  }
  
  /************** About TEXT output **************/
  #aboutContent ul {
    margin: 20px;
    font-size: 25px;
  }
  
  /************** Graphics output **************/
  #graphics-output {
    margin-right: 50px;
    margin-left: 50px;
    height: 1100px;
  }
  
  